body {
	color: black;
	background: #f9f9f9 url(/~leon/icons/bg.jpg) 0 0 no-repeat;
	font-family: Verdana, Arial, sans-serif;
}

h1, h2 {
	padding-bottom: 2px;
}

h1 { 
	text-align: center;
	font-size: 220%;
	padding-bottom: 1px;
	border-bottom: 1px solid #aaa;
}

h2 {
	padding-top: 10px;
	font-size: 130%;
	border-bottom:1px solid #bbb;
}

p { 
	/*line-height: 8px; */
}

a {
	text-decoration: none;
	color: blue;
	background-color: transparent;
}

a:hover {
 	text-decoration: underline;
	color: #fabd32;
}

a:visited {
/* 	text-decoration: underline; */
	color: #7A3696;
}


.pre {
	font-family:"Courier New",Courier,monospace;
	font-size:13.4px;
	color:#000;
	background-color:#FFFFE0;
	border:10px solid #EEEEEE;
	padding:10px;
}

ul {
	list-style-image:url(/~leon/icons/bullet.png);
	list-style-position:outside;
}

ol {
	/*line-height: 8px; */
}

li {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

#poweredbyicon {
	float:right;
	margin-left:5px;
	text-align:right;
	position:relative;
	font-size:smaller;
	margin-top: .3em;
	margin-right: .3em;
	border:0;
}

#backlink {
        float:left;
        margin-left:5px;
        text-align:left;
        position:relative;
        font-size:smaller;
        margin-top: 0.5em;
        border:0;
}


#divleft {
/*	margin-right:1px;*/
	width: 49%;
	float:left;
}

#divright {
	width:49%;
	float:right;
}

.graph {
	border:0;
}

.header, th {
	background-color:#B3B7FF;
	color: #000;
}

.input {
	background-color:#eee;
	color: #000;
	border: 1px solid #000080;
}

.input:hover, .input:focus {
	background-color:#FFFFFF;
	color: #000;
	border: 1px solid #2f6fab;
}

.footer {
        border-top: 1px solid #aaa;
        margin-top:1em;
	padding-top:.5em;
        font-size:smaller;
}

#source {
/*	background-color: #ddd; */
	padding: 5px;
}

table {
	margin:1em 1em 1em 0;
        border-style:solid;
	border-width:1px; 
	border-color:#aaa; 
	border-collapse:collapse;
        empty-cells:show;
}

.italic {
	font-style: italic;
}